## apply() 함수
> 각 요소별 적용하는 함수

In [1]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})
df

    a  b
0  10  2
1  20  4
2  30  6

In [2]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

my_fun1(3) # 3
my_fun2(3,3) # 27

27

In [3]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
df.apply(my_fun1)
df["a"].apply(my_fun1) # 각 컬럼은 시리즈
df["a"].apply(my_fun2, n=3) # 두 번째 매개변수 부터 키워드 인자로

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [4]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum
# df["a"].apply(my_fun3)
# df["a"]
df.apply(my_fun3) # 기본 값이 axis=0 이라 열 단위 합 출력
print(df.apply(my_fun3, axis=1)) # axis=1 행 단위

print(df.cumsum(axis=1))
print(df.cumsum(axis=0))

0    12
1    24
2    36
dtype: int64
    a   b
0  10  12
1  20  24
2  30  36
    a   b
0  10   2
1  30   6
2  60  12

In [5]:
# 'a' 컬럼의 값이 10 이하는 'C', 20 이하는  'B', 30 이하는 'A'를 지정하고자 할 때
def func(score):
    grade = ''
    if( score <= 10) : grade='C'
    elif(score <= 20) : grade='B'
    elif(score <= 30) : grade='A'
    return grade

df["score"] = df["a"].apply(func)
df
# df["score"] = df["a"].apply(lambda x: func(x)) # 옛날 람다

    a  b score
0  10  2     C
1  20  4     B
2  30  6     A

## [연습]  고객의 결제정보에서 vip 선별

결재가 confirmed 된 상태이고 금액이 500원이상 구매한 고객들을 vip로 선별하고 그 외 고객들은 non-vip로 지정하여 grade 컬럼에 추가 저장한다.

In [6]:
import pandas as pd

# index_col : 지정한 컬럼을 Row Index로 사용한다.
customer = pd.read_csv('./data/customer.csv', index_col = "Name")

customer
customer["price"].apply(lambda x :"vip" if x >= 500 else "non-vip")

Name
Kang        vip
Kim         vip
Choi        vip
Park        vip
Lee         vip
Yoon        vip
Jang        vip
Ko      non-vip
Name: price, dtype: object

In [7]:
# customer["grade"] = customer["price"].apply(lambda x :"vip" if x >= 500 else "non-vip")

In [10]:
def vip(v):
    if(v["state"]=="confirmed" and v["price"] >=500):
        return "vip"
    return "non-vip"

# customer["price"].apply(vip, s=customer["state"])
customer["grade"] = customer.apply(vip ,axis=1)
# customer[["price","state"]]

In [11]:
customer

            date  price      state    grade
Name
Kang  2017-01-01    500  confirmed      vip
Kim   2017-01-03    700  confirmed      vip
Choi  2017-01-03    900  confirmed      vip
Park  2017-01-05    800  confirmed      vip
Lee   2017-01-07    500   canceled  non-vip
Yoon  2017-01-09    700  confirmed      vip
Jang  2017-01-09    600   canceled  non-vip
Ko    2017-01-10    200   canceled  non-vip