### 쉘 모드 변경

+ Ecs > y : 코드 모드
+ Ecs > m : 마크다운 모드

In [6]:
print("hello")

hello

# 서울 지하철 평균이용객 수 분석
## 이용갯 수가 많은 지하철은?
+ 강남

+ 판교

    - 성수
    
    - 합정

* (`*`) 하나는 번호 없는 목록*

*별표로 감싸면 이탤릭*

**두개로 감싸면 볼드**

***세 개로 감싸면 이탤릭볼드***

---
`-` 세 개는 위의 가로선

> `>` 인용문

<div align="center">헬로우 월드</div>

<img src="./dataset/puppy.jpg">

[링크걸기](http://www.daum.net)

이미지링크

[![](https://t1.daumcdn.net/daumtop_chanel/op/20200723055344399.png)](https://naver.com)

<table border="1">
    <tr><td>1</td><td>홍길국</td></tr>
    <tr><td>2</td><td>홍길금</td></tr>
</table>

# <font color="red"> 우근팀 화이팅! </font>

In [8]:
import pandas
p = pandas.read_csv("dataset/subway_data1.csv", encoding="utf-8")
p

    구 분      역명          총계      일평균
0   1호선     서울역  11,933,924  132,599
1   1호선     시청역   4,221,693   46,908
2   1호선     종각역   8,441,749   93,797
3   1호선   종로3가역   6,725,558   74,728
4   1호선   종로5가역   5,038,305   55,981
..  ...     ...         ...      ...
90  4호선     이촌역   1,792,511   19,917
91  4호선     동작역     523,615    5,818
92  4호선  총신대입구역   4,398,897   48,877
93  4호선     사당역   5,459,335   60,659
94  4호선    남태령역     206,457    2,294

[95 rows x 4 columns]